.detail{
    position: relative;
    background-color: var(--color-DarkBlue);

    .wrapper{
        padding-top: 7%;
        position: relative;
        z-index: 2;
    }

    .background{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .detail_1{
        display: flex;
        flex-direction: column;

        .top{
            display: flex;
            flex-direction: row;
            margin-left: 11.5%;
            margin-right: 11.5%;
            gap: 21%;
            .left{
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .left_desc{
                    color: var(--color-text);
                    margin-top: 0;
                    text-align: justify;
                    font-size: var(--font-size-txt);
                    line-height: 1.7rem;
                }
                img{
                    justify-self: end;
                }
            }
            .right{
                flex: 1;
                align-items: center;
                justify-content: space-between;
                display: flex;
                flex-direction: column;
                .top{
                    img{
                        height: 80%;
                    }
                }
                .right_title{
                    color: var(--color-DarkGold);
                    font-size: var(--font-size-titre);
                    text-align: center;
                    justify-self: end;
                    margin: 0;
                }
            }
        }
        .bottom{
            margin-top: 3%;
            align-self: center;
            color: var(--color-white);
            background-color: var(--color-BlueFull);
            padding: 0.5%;
            padding-left: 5%;
            padding-right: 5%;
            .btn{
                width: fit-content;
                font-size: var(--font-size-sous-titre);
            }
        }
    }

    .detail_2{
        margin-top: 13%;
        display: flex;
        flex-direction: column;
        margin-left: 11.5%;
        margin-right: 11.5%;

        .top{
            text-align: center;
            color: var(--color-DarkGold);
            font-size: var(--font-size-titre);
        }
        .mid{
            display: flex;
            justify-content: space-between;
            gap: 24%;
            .txt{
                font-size: var(--font-size-sous-titre);
                margin: 0;
                justify-self: flex-end;
                text-align: center;
                color: var(--color-text);
                margin-top: 10%;
            }
            .left{
                display: flex;
                flex-direction: column;
            }
            .mid{
                display: flex;
                flex-direction: column;
            }
            .right{
                display: flex;
                flex-direction: column;
            }
        }
        .end{
            display: flex;
            background-color: green;
            height: 50%;
            .btn{
                align-self: center;
                color: var(--color-white);
                background-color: var(--color-BlueFull);
                font-size: var(--font-size-sous-titre);
                width: 100%;
                padding: 0.5%;
                padding-left: 5%;
                padding-right: 5%;
                width: fit-content;
            }
            .desc{
                font-size: var(--font-size-txt);
                text-align: justify;
            }

        }
    }

}