.hero{
    background-color: white;
}

.wrapper{
    max-width: $breakpoint-xl;
    height: 30%;
}

.hero__content{
    display: flex;
    flex-direction: column;
    background-image: url(../../assets/images/hero_background.png);
    background-size: 100%;
    background-color: var(--color-black);
}
.hero_media{
    align-self: center;
    margin-top: 4%;
    height: 3%;
    width: 33%;
}
.hero_content2{
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    display: flex;
    gap: 30%;
}
.hero_left{
    background-color: red;
    flex: 1;
    color: var(--color-DarkGold);
    .hero_title{
        margin: 0px;
        font-size: var(--font-size-sous-titre);
    }
    .hero_l_media{

    }
    .hero_l_desc{
        margin-top: 0;
        color: var(--color-text);
        text-align: justify;
       font-size: var(--font-size-txt);
       line-height: 1.8rem;
    }
}
.hero_contribution{
    line-height: 0.5rem;
    justify-items: start;
    flex: 1;
    height: 30rem;
    background-color: blue;

    .contr_total{
        font-size: var(--font-size-titre);
    }
    .contr_objectif{
        font-size: var(--font-size-petit);
    }
    .contr_bar{
        display: flex;
        height: 2.5%;
        width: 100%;
        .bar_left{
            flex: 1;
            background-color: var(--color-text);
        }
        .bar_right{
            flex: 1.3;
            background-color: var(--color-DarkBlue);
        }
    }
    .contr_jours{
        font-size: var(--font-size-petit);
        text-align: right;
    }
    .contr_nb{
        font-size: var(--font-size-sous-titre);
    }

}

