.hero{
    background-color: white;
}

.wrapper{
    max-width: $breakpoint-xl;
}

.hero__content{
    display: flex;
    flex-direction: column;
    height: 40%;
    background-image: url(../../assets/images/hero_background.png);
    background-size: 100%;
    background-color: var(--color-black);
}
.hero_media{
    align-self: center;
    margin-top: 4%;
    height: 3%;
    width: 33%;
}
.hero_content2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    display: flex;
    gap: 30%;
}
.hero_left{
    flex: 1;
    color: var(--color-DarkGold);

    .hero_l_media{

    }
    .hero_l_desc{
        color: var(--color-text);
        text-align: justify;
       font-size: var(--font-size-txt);
       line-height: 1.8rem;
    }
}
.hero_right{
    justify-items: start;
    flex: 1;
    background-color: blue;
}